{% extends "base.html" %}
 {% block content %}
    <div class="container mt-5">
      {% comment %} <h1 class = " main-heading text-center text-primary">Welcome to Nexora</h1>
      <h2>created by Tarannum</h2>
      <p>Student Notes Sharing Pateform</p>
      <button type="submit" class="btn btn-primary">Uploade Notes</button>
      <button type="submit" class="btn btn-secondary">View Notes</button>
      <br>
      <br> {% endcomment %}
      <h1 class = " main-heading text-center text-primary">My Notes</h1>
       <h5>My Notes Count : {{ my_notes_count }}</h5>
      <form method = "GET">
        <input type="text" name = "search" placeholder = "Search Notes" class = "form-control">
        <button type ="submit" class = "btn btn-primary mt-2">Search</button>
      </form>
      <br>
      {%for note in notes%}
      <div class="card note-card mb-3">
        <div class="card-body">
          <h3>{{note.title}}</h3>
          <p><b>Subject: </b>{{note.subject}}</p>
          <p>{{note.description}}</p>
          <p><b>Author:</b> {{note.author}}</p>
          {% comment %} <p>{{note.file.url}}</p> {% endcomment %}
          {% if note.file %}
          <a href="{{note.file.url}}" class="btn btn-success" >Download PDF</a>
          {% else %}
          <p>No PDF available</p>
          {% endif%}
          {% if note.author == request.user.username %}
          <a href="/delete/{{note.id}}" class="btn btn-danger">Delete</a>
          <a href="/edit/{{note.id}}" class="btn btn-warning">Edit</a>
          {% endif %}
        </div>
      </div>

      <p><b>Uploaded at:</b> {{note.uploaded_at|date:"d M Y"}}</p>
      {%endfor%}
    </div>
   {% endblock %}
