{% extends "base.html" %}
 {% block content %}
    <div class = "container mt-5">
        <div class = "form-box">
        <h1 class = "main-heading">Registration Form</h1>
    <form method = "POST" >
        {% csrf_token %}
        <label > First Name:</label>
        <input type="text" name="first_name" class ="form-control">
        <br><br>
        <label > Last  Name:</label>
        <input type="text" name="last_name" class ="form-control">
        <br><br>
        <label >Username:</label>
        <input type="text" name="username" class ="form-control">
        <br><br>
        <label >Email:</label>
        <input type="email" name="email" class ="form-control">
        <br><br>
        <label >Password:</label>
        <input type="password" name="password" class ="form-control">
        <br><br>
        <label > Confirm Password:</label>
        <input type="password" name="confirm_password" class ="form-control">
        <br><br>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>
</div>
{% endblock %}